<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.DeptAndStaffs.DeptAndStaffsMapper">
    <resultMap id="DeptAndStaffsMap" type="DeptAndStaffs">
        <association property="deptDesc" javaType="deptdesc">
            <id property="deptId" column="deptId"/>
            <result property="deptName" column="deptName"/>
            <result property="deptAddr" column="deptAddr"/>
        </association>
        <collection property="listStaffDesc" ofType="staffdesc">
            <id property="staffId" column="staffId"/>
            <result property="staffName" column="staffName"/>
            <result property="staffPost" column="staffPost"/>
            <result property="staffBoss" column="staffBoss"/>
            <result property="staffHireDate" column="staffHireDate"/>
            <result property="deptId" column="deptId"/>
        </collection>
    </resultMap>
    <select id="selectAllStaff" resultMap="DeptAndStaffsMap" parameterType="int">
        select d.deptId,d.deptName,d.deptAddr,s.staffName,s.staffPost,s.staffBoss,s.staffHireDate
            from deptDesc d,staffDesc s
            where d.deptId=s.deptId and d.deptId=#{d.deptId};
    </select>
</mapper>