<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.deptLinkStaff.deptLinkStaffMapper">
    <resultMap id="deptLinkStaffs" type="deptLinkStaff">
        <association property="dd" javaType="DeptDesc">
            <id property="deptId" column="deptId"/>
            <result property="deptName" column="deptName"/>
            <result property="deptAddr" column="deptAddr"/>
        </association>
        <association property="sd" javaType="StaffDesc">
            <id property="staffId" column="staffId"/>
            <result property="staffName" column="staffName"/>
            <result property="staffPost" column="staffPost"/>
            <result property="staffBoss" column="staffBoss"/>
            <result property="staffHireDate" column="staffHireDate"/>
            <result property="deptId" column="deptId"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="deptLinkStaffs">
        select d.deptId,d.deptName,d.deptAddr,s.staffId,
                s.staffName,s.staffPost,s.staffBoss,s.staffHireDate
        from deptDesc d,staffDesc s where d.deptId=s.deptId;
    </select>
</mapper>